.app-container {
  display: flex;
  flex-direction: row;
}

.keys-container {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.keys-column {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: flex-start;
  margin: 2% 0 2% 0;
}

.letter-box {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  border-radius: 50%;
  background-color: #cdcccc;
  width: 90px;
  height: 80px;
}

.letter {
  display: flex;
  width: 20px;
  font-size: 2.5em;
  color: #4f4e4e;
  justify-content: center;
  align-items: center;
}
